<div class="animated fadeIn">
    <div class="row justify-content-md-center ">
        <div class="col-md-8">
            <div class="card" style="margin-top:12%">
                <div class="card-body">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h5>
                                Universidad de Oriente.<br> Núcleo Nueva Esparta. <br> Escuela de Ingenieria y Ciencias Aplicadas.<br> Simulación y Modelos.
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-top:2%">
                        <div class="text-center">
                            <img src="assets/img/logoudo.png" width="50">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="text-center" style="margin-top:2%">
                            <h1>Proyecto Simulación</h1>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="text-center" style="margin-top:5%">
                            <h5>Integrantes:</h5>
                            <p>
                                Juan Villarroel. <br> Wendy Rivas. <br> Nestor Juarez.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="text-center">
                            <button class="btn btn-outline-primary" [routerLink]="['/proyecto']">Comenzar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>